In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits,on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
# genre
# id
# keywords
# title
# overview
# cast
# crew
movies = movies[['movie_id','genres','title','keywords','overview','cast','crew']]

In [8]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movies.isnull().sum()

movie_id    0
genres      0
title       0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.isnull().sum()

movie_id    0
genres      0
title       0
keywords    0
overview    0
cast        0
crew        0
dtype: int64

In [12]:
movies.duplicated().sum()

0

In [13]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
import ast

***Function to clean genre column***

In [15]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [16]:
movies['genres'] = movies['genres'].apply(convert)

In [17]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def convertcast(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [21]:
movies['cast'] = movies['cast'].apply(convertcast)

In [22]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def get_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [24]:
movies['crew'] = movies['crew'].apply(get_director)

In [25]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]",Spectre,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

***Creating List of String & Joining them***

In [26]:
# movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies['overview'] = movies['overview'].apply(lambda x: ' '.join(x))
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [27]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[culture clash, future, space war, space colon...","[I, n, t, h, e, 2, 2, n, d, c, e, n, t, u, r, ...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[C, a, p, t, a, i, n, B, a, r, b, o, s, s, a, ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]",Spectre,"[spy, based on novel, secret agent, sequel, mi...","[A, c, r, y, p, t, i, c, m, e, s, s, a, g, e, ...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...","[F, o, l, l, o, w, i, n, g, t, h, e, d, e, a, ...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"[based on novel, mars, medallion, space travel...","[J, o, h, n, C, a, r, t, e, r, i, s, a, w, a, ...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

***Removing Spaces(" ")***

In [28]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [29]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[I, n, t, h, e, 2, 2, n, d, c, e, n, t, u, r, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[C, a, p, t, a, i, n, B, a, r, b, o, s, s, a, ...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,"[Action, Adventure, Crime]",Spectre,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, c, r, y, p, t, i, c, m, e, s, s, a, g, e, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[dccomics, crimefighter, terrorist, secretiden...","[F, o, l, l, o, w, i, n, g, t, h, e, d, e, a, ...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,"[Action, Adventure, ScienceFiction]",John Carter,"[basedonnovel, mars, medallion, spacetravel, p...","[J, o, h, n, C, a, r, t, e, r, i, s, a, w, a, ...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [30]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['cast'] + movies['crew']

In [31]:
movies.head()

,movie_id,genres,title,keywords,overview,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[I, n, t, h, e, 2, 2, n, d, c, e, n, t, u, r, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[C, a, p, t, a, i, n, B, a, r, b, o, s, s, a, ...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, c, r, y, p, t, i, c, m, e, s, s, a, g, e, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[dccomics, crimefighter, terrorist, secretiden...","[F, o, l, l, o, w, i, n, g, t, h, e, d, e, a, ...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,"[Action, Adventure, ScienceFiction]",John Carter,"[basedonnovel, mars, medallion, spacetravel, p...","[J, o, h, n, C, a, r, t, e, r, i, s, a, w, a, ...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, ScienceFiction, basedonnov..."

In [32]:
new_movies = movies[['movie_id','title','tags']]

In [33]:
new_movies

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller, unitedstatesâ€“mexicob..."
4805,72766,Newlyweds,"[Comedy, Romance, A, n, e, w, l, y, w, e, d, c..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie, date, loveat..."
4807,126186,Shanghai Calling,"[W, h, e, n, a, m, b, i, t, i, o, u, s, N, e, ..."
4808,25975,My Date with Drew,"[Documentary, obsession, camcorder, crush, dre..."

***Creating & joining Strings into Lists***

In [34]:
# new_movies['tags'] = movies['tags'].apply(lambda x:" ",join(x))
new_movies['tags'] = new_movies['tags'].apply(lambda x: ' '.join(x))
new_movies['tags'] = new_movies['tags'].apply(lambda x: x.split())

/var/folders/ng/t1gkj_rd70zdnvqfk5m9rcxr0000gn/T/ipykernel_21874/3099224460.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x: ' '.join(x))
/var/folders/ng/t1gkj_rd70zdnvqfk5m9rcxr0000gn/T/ipykernel_21874/3099224460.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x: x.split())

In [35]:
new_movies

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller, unitedstatesâ€“mexicob..."
4805,72766,Newlyweds,"[Comedy, Romance, A, n, e, w, l, y, w, e, d, c..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie, date, loveat..."
4807,126186,Shanghai Calling,"[W, h, e, n, a, m, b, i, t, i, o, u, s, N, e, ..."
4808,25975,My Date with Drew,"[Documentary, obsession, camcorder, crush, dre..."

In [36]:
import nltk

In [37]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [38]:
def stem(text):
    if isinstance(text, list):  # Check if the input is a list
        y = []
        for i in text:
            y.append(ps.stem(i))
        return y
    else:  # If the input is not a list, assume it's a string
        y = []
        for i in text.split():
            y.append(ps.stem(i))
        return " ".join(y)

In [39]:
new_movies['tags'] = new_movies['tags'].apply(stem)

/var/folders/ng/t1gkj_rd70zdnvqfk5m9rcxr0000gn/T/ipykernel_21874/3229886743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(stem)

In [40]:
# new_movies['tags'] = new_movies['tags'].apply(lambda x:x.lower())
# Assuming 'tags' column contains lists of strings
new_movies['tags'] = new_movies['tags'].apply(lambda tags: [tag.lower() for tag in tags])

/var/folders/ng/t1gkj_rd70zdnvqfk5m9rcxr0000gn/T/ipykernel_21874/1532944236.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda tags: [tag.lower() for tag in tags])

In [41]:
new_movies

,movie_id,title,tags
0,19995,Avatar,"[action, adventur, fantasi, sciencefict, cultu..."
1,285,Pirates of the Caribbean: At World's End,"[adventur, fantasi, action, ocean, drugabus, e..."
2,206647,Spectre,"[action, adventur, crime, spi, basedonnovel, s..."
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller, dccomic, crim..."
4,49529,John Carter,"[action, adventur, sciencefict, basedonnovel, ..."
...,...,...,...
4804,9367,El Mariachi,"[action, crime, thriller, unitedstatesâ€“mexicob..."
4805,72766,Newlyweds,"[comedi, romanc, a, n, e, w, l, y, w, e, d, c,..."
4806,231617,"Signed, Sealed, Delivered","[comedi, drama, romanc, tvmovi, date, loveatfi..."
4807,126186,Shanghai Calling,"[w, h, e, n, a, m, b, i, t, i, o, u, s, n, e, ..."
4808,25975,My Date with Drew,"[documentari, obsess, camcord, crush, dreamgir..."

***Vectorization of Text***

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
# Custom preprocessor function
def custom_preprocessor(text):
    if isinstance(text, list):
        return ' '.join(text)
    else:
        return text

# Update CountVectorizer to use custom preprocessor and tokenizer
cv = CountVectorizer(max_features=5000, preprocessor=custom_preprocessor)  

# Fit the CountVectorizer to your data
try:
    vectors = cv.fit_transform(new_movies['tags']).toarray()
    feature_names = cv.get_feature_names_out()
except ValueError as e:
    print("ValueError occurred:", e)

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

In [44]:
similarity_matrix = cosine_similarity(vectors)

In [45]:
def recommend(movie):
    movie_idx = new_movies[new_movies['title'] == movie].index[0]
    distances = similarity_matrix[movie_idx]
    movies_list = sorted(list(enumerate(distances)),reverse = True, key = lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_movies.iloc[i[0]].title)

In [46]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Amidst the Devil's Wings
Mi America
Ajami

In [47]:
import pickle

In [48]:
# pickle.dump(new_movies,open(movies.pkl),'wb')
file_path = 'movies.pkl'

# Dump new_movies to a pickle file
with open(file_path, 'wb') as f:
    pickle.dump(new_movies, f)

In [49]:
new_movies['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [50]:
# pickle.dump(new_movies,open(movies.pkl),'wb')
file_path = 'movies_dict.pkl'

# Dump new_movies to a pickle file
with open(file_path, 'wb') as f:
    pickle.dump(new_movies.to_dict(), f)

In [51]:
file_path = 'similarity.pkl'
with open(file_path, 'wb') as f:
    pickle.dump(similarity_matrix, f)